<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playground.transaction">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/Theme.Playground">
        <activity
            android:name=".presentation.sendtransaction.SendTransactionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Playground"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.sendtransaction.TransactionSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Playground"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>